* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: #dad1d1;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px 0;
    background: #ffdd45;
}

header h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-family: Georgia, serif;
}

nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

.container {
    margin: 0 15%;
}

link{
    font-size: 15px;

}

footer {
    background: #3d4144;
    color: white;
    text-align: center;
    padding: 20px;
}
